.about {
  gap: 200px;
  width: 1440px;
  height: 1964px;
  display: grid;
  grid-template-columns: 665px 350px;
  grid-gap: 0px;
  padding-right: 260px;

  @include breakpoint-up(large) {
    background: url("/images/homepage/desktop/image-homepage-profile.jpg"),
      #fff 0px 0px / 100% 100% no-repeat;

    background-repeat: no-repeat;
    width: 1012px;
    height: 676px;
    top: 866px;
    left: -12px;
    padding-left: 165px;
    margin: 34px 295px 42px 177px;
  }

  hr {
    text-align: left;
    width: 350px;
    height: 1px;
    opacity: 0.15;
    background: #33323d;
  }

  &__text {
    color: #33323d;

    h1 {
      text-align: left;
      width: 350px;
      font-family: "Ibarra Real Nova";
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px; /* 105% */
      letter-spacing: -0.357px;
    }

    p {
      gap: 28px;
      font-family: "Public Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 187.5% */
      width: 350px;
      height: 360px;
      padding-right: 260px;
    }

    button {
      width: 202px;
      height: 48px;
      background: #fff;
      border: 1px solid #33323d;
    }

    button a {
      align-items: center;
    }

    button p {
      width: 134px;
      height: 14px;
      font-family: "Public Sans";
      color: #33323d;
      font-family: Public Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 17px 36px 17px 32px;
    }
  }
}
