.hero {
    gap: 120px;
    @include breakpoint-up(large){
        background: url('/images/homepage/desktop/image-homepage-hero.jpg'), lightgray 0px 0px / 100% 100% no-repeat;
    }

    @include breakpoint-down(small){
        background: url('/images/homepage/mobile/image-homepage-hero@2x.jpg'), lightgray 0px 0px / 100% 100% no-repeat;
    }
    &__image{
        align-items: center;
        justify-content: center;
        min-height: 16.875rem;
        position: relative;
        padding: 0px 22px 0px 17px;
    }

    &__text{
        color: #33323D;
        font-family: Ibarra Real Nova;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 105% */
        letter-spacing: -0.357px;
        background: #FAFAFA;
        width: 445px;
        height: 300xpx;
        flex-shrink: 0;
        padding: 56px 55px 101px 0px;
    }
}