.interest {
  //width: 1110px;
  //height: 84px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 165px 230px 165px;
  padding-top: 100px;
  h1 {
    width: 350px;
    height: 84px;
    color: #33323d;
    font-family: "Ibarra Real Nova";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
    float: left;
  }

  hr {
    width: 534px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.15;
    background: #33323d;
    margin: 48px 194px 34px 382px;
  }
  &__contact {
    width: 162px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid #33323d;
    text-align: center;
    color: #33323d;
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-right: 165px;
  }
}
