html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  background-color: #fff;
  font-family: "Ibarra Real Nova", sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: hsl(245, 10%, 22%);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}
.flex-js-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ac-c {
  align-items: center;
}

button,
.buttons {
  display: inline-block;
  padding: 1rem;
  height: 48px;
  border: 1px solid #33323d;
  flex-shrink: 0;
  cursor: pointer;
  width: 200px;
  border: 1px solid #33323d;
  color: #33323d;
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  padding: 64px;
  padding-right: 164px;
  padding-left: 165px;
  width: 1111px;
  height: 32px;
}
.header nav {
  padding: 24px;
}
.header_logo img {
  width: 60.082px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 0px;
}
@media (max-width: 63.9375em) {
  .header_logo img {
    padding-left: 32px;
    padding-right: 282.92px;
  }
}
.header_menu {
  margin-bottom: 3px;
}
.header_menu > span {
  display: block;
  width: 24px;
  height: 2px;
  flex-shrink: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.header_menu > span:not(:last-child) {
  margin-bottom: 5px;
}
.header_links ul {
  margin-right: 10px;
  padding-left: 700px;
  list-style: none;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header_links ul li {
  display: inline-block;
}

.hero {
  gap: 9px;
  flex-shrink: 0;
  width: 1218px;
  height: 798px;
  flex-shrink: 0;
}
.hero__image {
  position: relative;
  min-height: 37.5rem;
  margin: 45px 40px -400px 165px;
  padding-left: 165px;
  padding-top: 150px;
  padding-right: 165px;
  height: 600px;
}
@media (min-width: 64em) {
  .hero__image {
    background: url("/images/homepage/desktop/image-homepage-hero.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  }
}
.hero__text {
  position: absolute;
  color: #33323d;
  font-family: "Public sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
  letter-spacing: -0.446px;
  padding-left: 165px;
  background: #fff;
  margin: 56px 55px 101px 0px;
  border-color: 0;
  width: 445px;
  height: 357px;
  gap: 53px;
}
.hero__text button {
  width: 200px;
  height: 48px;
  background: #203a4c;
  display: flex;
  align-items: center;
}
.hero__text button svg {
  width: 48px;
  height: 48px;
  text-align: left;
}
.hero__text button p {
  color: #fff;
  text-align: center;
  font-family: "Public Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 152px;
  height: 14px;
}

.about {
  gap: 200px;
  width: 1440px;
  height: 1964px;
  display: grid;
  grid-template-columns: 665px 350px;
  grid-gap: 0px;
  padding-right: 260px;
}
@media (min-width: 64em) {
  .about {
    background: url("/images/homepage/desktop/image-homepage-profile.jpg"), #fff 0px 0px/100% 100% no-repeat;
    background-repeat: no-repeat;
    width: 1012px;
    height: 676px;
    top: 866px;
    left: -12px;
    padding-left: 165px;
    margin: 34px 295px 42px 177px;
  }
}
.about hr {
  text-align: left;
  width: 350px;
  height: 1px;
  opacity: 0.15;
  background: #33323d;
}
.about__text {
  color: #33323d;
}
.about__text h1 {
  text-align: left;
  width: 350px;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
}
.about__text p {
  gap: 28px;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  width: 350px;
  height: 360px;
  padding-right: 260px;
}
.about__text button {
  width: 202px;
  height: 48px;
  background: #fff;
  border: 1px solid #33323d;
}
.about__text button a {
  align-items: center;
}
.about__text button p {
  width: 134px;
  height: 14px;
  font-family: "Public Sans";
  color: #33323d;
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 17px 36px 17px 32px;
}/*# sourceMappingURL=styles.css.map */