html {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  padding: 0;
  line-height: 1.3;
  background-color: #fff;
  font-family: "Ibarra Real Nova", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Public Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}
.flex-js-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ac-c {
  align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  max-width: 1320px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.nav__menu__menu li {
  color: #33323d;
}

.nav__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  color: #33323d;
}

.hero1 {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(/images/homepage/desktop/image-homepage-hero.jpg);
}
.hero1__content {
  display: flex;
}
.hero1__main {
  background: white;
  padding-top: 1em;
  padding-right: 2em;
}
.hero1__main__btn {
  padding-top: 10px;
}
.hero1__button {
  display: flex;
  align-items: center;
}
.hero1__button img {
  max-width: 100%;
  margin-right: 10px;
}

.flex__1 {
  flex: 1;
}
.flex__2 {
  flex: 2;
}
.flex__9 {
  flex: 9;
}

button {
  background: #33323d;
  padding: 1em 4em;
  color: white;
  border: none;
  outline: none;
}

.btn {
  background: white;
  padding: 1em 4em;
  color: #33323d;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 3em;
  border: 1px solid #33323d;
}

.about {
  margin-bottom: 8em;
  display: flex;
  margin-top: 8em;
  font-family: "Public Sans";
  opacity: 0.8;
}
.about__content {
  line-height: 2;
  margin-bottom: 2em;
}
.about__container {
  display: flex;
}
.about__image {
  background-image: url("/images/homepage/desktop/image-homepage-profile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.interest {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 8em;
  margin-bottom: 4em;
}
.interest__contact {
  text-align: right;
}

.footer {
  margin-top: 4em;
  background-color: #33323d;
}
.footer__nav {
  color: #fff;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  padding-right: 10em;
}
.footer__menu li {
  color: #fff;
}

.container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  padding-left: 10em;
}

.footer__list {
  color: white;
}

.contact-page {
  display: flex;
}
.contact-page h1 {
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
  width: 350px;
  margin-left: 15%;
}
.contact-page p {
  color: #33323d;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  width: 635px;
  opacity: 0.8;
}

.contact-me {
  display: flex;
}
.contact-me h1 {
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
  width: 350px;
  margin-left: 15%;
  padding-top: 2%;
}

.Contact-form {
  color: #33323d;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 230.769% */
  opacity: 0.8;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group textarea {
  width: 310%;
  padding: 8px;
  border: 1px solid #33323d;
  border-radius: 4px;
  background-color: #33323d;
}

.hero-btn {
  text-decoration: none;
  color: #fafafa;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  background: #33323d;
  transition: 1s;
}

.contact-me h4 {
  padding-top: 1%;
  padding-bottom: -8%;
}

.contact-page {
  display: flex;
}
.contact-page h1 {
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
  width: 350px;
  margin-left: 15%;
}
.contact-page p {
  color: #33323d;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  width: 635px;
  opacity: 0.8;
}

.contact-me {
  display: flex;
}
.contact-me h1 {
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
  width: 350px;
  margin-left: 15%;
  padding-top: 2%;
}

.Contact-form {
  color: #33323d;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 230.769% */
  opacity: 0.8;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group textarea {
  width: 310%;
  padding: 8px;
  border: 1px solid #33323d;
  border-radius: 4px;
  background-color: #33323d;
}

.hero-btn {
  text-decoration: none;
  color: #fafafa;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  background: #33323d;
  transition: 1s;
}

.contact-me h4 {
  padding-top: 1%;
  padding-bottom: -8%;
}

.manage {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  margin-bottom: 4em;
}
.manage__container {
  display: flex;
}
.manage__content {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  opacity: 0.8;
}
.manage__image {
  background: url("/images/portfolio/desktop/image-portfolio-manage.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  box-shadow: 0px 2px 46px 0px rgba(243, 96, 60, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.bookmark {
  display: flex;
  flex-direction: row;
  margin-bottom: 4em;
  background-color: #fafafa;
}
.bookmark__content {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  opacity: 0.8;
}
.bookmark__container {
  display: flex;
}
.bookmark__image {
  background: url("/images/portfolio/desktop/image-portfolio-bookmark.jpg"), 0px 0px/100% 100% no-repeat;
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.15);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.insure {
  display: flex;
  flex-direction: row;
  background: #fafafa;
  margin-bottom: 4em;
}
.insure__container {
  display: flex;
}
.insure__image {
  background: url("/images/portfolio/desktop/image-portfolio-insure@2x.jpg"), white 0px 0px/100% 100% no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.insure__content {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  opacity: 0.8;
}

.fylo {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  margin-bottom: 4em;
}
.fylo__image {
  background: url("/images/portfolio/desktop/image-portfolio-fylo.jpg"), white 0px 0px/100% 100% no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.fylo__content {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  opacity: 0.8;
}

.container {
  max-width: 1320px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.nav__menu__menu li {
  color: #33323d;
}

.nav__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  color: #33323d;
}

.hero1 {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(/images/homepage/desktop/image-homepage-hero.jpg);
}
.hero1__content {
  display: flex;
}
.hero1__main {
  background: white;
  padding-top: 1em;
  padding-right: 2em;
}
.hero1__main__btn {
  padding-top: 10px;
}
.hero1__button {
  display: flex;
  align-items: center;
}
.hero1__button img {
  max-width: 100%;
  margin-right: 10px;
}

.flex__1 {
  flex: 1;
}
.flex__2 {
  flex: 2;
}
.flex__9 {
  flex: 9;
}

button {
  background: #33323d;
  padding: 1em 4em;
  color: white;
  border: none;
  outline: none;
}

.btn {
  background: white;
  padding: 1em 4em;
  color: #33323d;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 3em;
  border: 1px solid #33323d;
}

.about {
  margin-bottom: 8em;
  display: flex;
  margin-top: 8em;
  font-family: "Public Sans";
  opacity: 0.8;
}
.about__content {
  line-height: 2;
  margin-bottom: 2em;
}
.about__container {
  display: flex;
}
.about__image {
  background-image: url("/images/homepage/desktop/image-homepage-profile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.interest {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 8em;
  margin-bottom: 4em;
}
.interest__contact {
  text-align: right;
}

.footer {
  margin-top: 4em;
  background-color: #33323d;
}
.footer__nav {
  color: #fff;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  padding-right: 10em;
}
.footer__menu li {
  color: #fff;
}

.container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  padding-left: 10em;
}

.footer__list {
  color: white;
}

.hero2 {
  margin-top: 4em;
  background-color: #ffefec;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
}
.hero2__image1 {
  display: flex;
  background: url("/images/portfolio/desktop/image-portfolio-insure@2x.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  box-shadow: 0px 2px 46px 0px rgba(243, 96, 60, 0.1);
  min-height: 50vh;
}

  .image3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}

.social {
  padding-top: 5%;
  padding-right: 9%;
}

.bookmark {
  display: flex;
  flex-direction: row;
  margin-bottom: 4em;
  background-color: #fafafa;
}
.bookmark__manage1 {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  opacity: 0.8;
}

.previews {
  padding-left: 55%;
  margin-top: -260px;
}

.color {
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */


